//Primary Colors

$peGreen: #43C8A2;
$pePurple: #BC61A8;
$peSlate: #93989D;
$peGrey: #6A6A6A;

//Font Stack Defaults

$peHeaders: 'Cabin', sans-serif;
$peHeadersSketch: 'Cabin Sketch', sans-serif;
$peParagraph: 'Source Sans Pro', sans-serif;



